<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/header :: head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>iOne - By Tóth Máté</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-theme.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/isales.css" media="screen"/>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
</head>
<body>

<script>
    $(document).ready(function() {
        var companyAdditionalWrapper = $(".company_additional_wrapper"); //Fields wrapper
        var companyAdditional = 0;

        $(".add_company_additional_button").click(function(e){ //on add input button click
            e.preventDefault();
            $(companyAdditionalWrapper).append(
                '<h4>'+ companyAdditional +'</h4>' +
                '<p>Name</p>' +
                '<input class="form-control" type="text" th:field="*{companyAdditionals[' + companyAdditional + '].name}"/>' +
                '<p>Price</p>' +
                '<input class="form-control" type="number" th:field="*{companyAdditionals[' + companyAdditional + '].price}"/>' +
                '<p>Comment</p>' +
                '<input class="form-control" type="text" th:field="*{companyAdditionals[' + companyAdditional + '].comment}"/>' +
                //'<a href="#" class="remove_field" style="text-align: center">Remove</a>' +
                '<!--<input class="form-control" type="hidden" th:field="*{contacts[0].company}" th:value="${company}"/>-->'
            ); //add input box
            companyAdditional++;
        });

        $(companyAdditionalWrapper).on("click",".remove_field", function(e){
            e.preventDefault(); $(this).parent('div').remove(); companyAdditional--;
        })

        var contactsWrapper = $(".contacts_wrapper"); //Fields wrapper
        var contacts = 0;

        $(".add_contacts_button").click(function(e){ //on add input button click
            e.preventDefault();
            $(contactsWrapper).append(
                '<h4>'+ contacts +'</h4>' +
                '<p>Name</p>' +
                '<input class="form-control" type="text" th:field="*{contacts[' + contacts + '].name}"/>' +
                '<p>Phone number</p>' +
                '<input class="form-control" type="tel" th:field="*{contacts[' + contacts + '].phoneNumber}"/>' +
                '<p>Email</p>' +
                '<input class="form-control" type="email" th:field="*{contacts[' + contacts + '].email}"/>' +
                '<p>Post</p>' +
                '<input class="form-control" type="text" th:field="*{contacts[' + contacts + '].post}"/>' +
                //'<a href="#" class="remove_field" style="text-align: center">Remove</a>' +
                '<!--<input class="form-control" type="hidden" th:field="*{contacts[0].company}" th:value="${company}"/>-->'
            ); //add input box
            contacts++;
        });

        $(contactsWrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); contacts--;
        })

        var headquarWrapper = $(".company_headquar_wrapper"); //Fields wrapper
        var headquar = 0;

        $(".add_headquar_button").click(function(e){ //on add input button click
            e.preventDefault();
            $(headquarWrapper).append(
                '<h4>'+ headquar +'</h4>' +
                '<p>Address</p>' +
                '<input class="form-control" type="text" th:field="*{headquarters[' + headquar + '].address}"/>' +
                '<p>City</p>' +
                '<input class="form-control" type="text" th:field="*{headquarters[' + headquar + '].city}"/>' +
                '<p>Zipcode</p>' +
                '<input class="form-control" type="text" th:field="*{headquarters[' + headquar + '].zipCode}"/>' +
                '<p>Country ISO</p>' +
                '<input class="form-control" type="text" th:field="*{headquarters[' + headquar + '].countryISO}"/>' +
                '<p>Lat</p>' +
                '<input class="form-control" type="text" th:field="*{headquarters[' + headquar + '].lat}"/>' +
                '<p>Lon</p>' +
                '<input class="form-control" type="text" th:field="*{headquarters[' + headquar + '].lon}"/>' +
                '<p>Seat</p>' +
                '<input class="form-control" type="checkbox" name="seat" th:checked="*{headquarters[' + headquar + '].seat}" />' +
                '<p>Visiting place</p>' +
                '<input class="form-control" type="checkbox" name="visitingPlace" th:checked="*{headquarters[' + headquar + '].visitingPlace}" />' +
                '<p>Comment</p>' +
                '<input class="form-control" type="text" th:field="*{headquarters[' + headquar + '].comment}"/>' +
                //'<a href="#" class="remove_field" style="text-align: center">Remove</a>' +
                '<!--<input class="form-control" type="hidden" th:field="*{headquarters[0].company}" th:value="${company}"/>-->'
            ); //add input box
            companyAdditional++;
        });

        $(companyAdditionalWrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); companyAdditional--;
        })
    });
</script>

<div th:replace="common/top :: top-bar"></div>
<div th:replace="common/top :: menu"></div>
<!--<div th:insert="common/top :: content">-->
<div class="col-md-10">
    <form class="row task shadow"
          th:action="@{/company/create}" th:object="${company}" method="post">
        <p>Name</p>
        <input class="form-control" type="text" th:field="*{name}"/>
        <p>Tax number</p>
        <input class="form-control" type="text" th:field="*{tax_number}"/>
        <p>Registration number</p>
        <input class="form-control" type="text" th:field="*{registration_number}"/>
        <p>Comment</p>
        <input class="form-control" type="text" th:field="*{comment}"/>
        <p>Interface</p>
        <select class="form-control" id="type" th:field="*{interface_}">
            <option th:value="NORMAL">NORMAL</option>
            <option th:value="MINI">MINI</option>
        </select>
        <p>Unique price:</p>
        <input class="form-control" type="number" th:field="*{price}"/>
        <h3>Additional elements:</h3>
        <div class="company_additional_wrapper">
        <button type="button" class="add_company_additional_button">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        </div>
        <h3>Contacts</h3>
        <div class="contacts_wrapper">
            <button type="button" class="add_contacts_button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <h3>Headquarters</h3>
        <div class="company_headquar_wrapper">
            <button type="button" class="add_headquar_button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <button class="form-control" type="submit">Kész</button>
    </form>
</div>
</body>
</html>