<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/header :: head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>iOne - By Tóth Máté</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-theme.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/isales.css" media="screen"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<div th:replace="common/top :: top-bar"></div>
<div th:replace="common/top :: menu"></div>
<!--<div th:insert="common/top :: content">-->

<script type="text/javascript">
    $(function () {

        $('#startDate').datetimepicker({
            format: 'YYYY-MM-DDTHH:mm',
            locale: 'de'
        });
        $('#endDate').datetimepicker({
            //useCurrent: false,
            format: 'YYYY-MM-DDTHH:mm',
            locale: 'de'
        });
    });
</script>

<div class="col-md-10">
    <form class="row task task-create shadow"
          th:action="@{/task/create}" th:object="${task}" method="post">
        <div class="col-md-6">
            <h4>Start Date</h4>
            <div class='input-group date' id='startDate'>
                <input type='text' class="form-control" th:field="*{startDate}" placeholder="yyyy-mm-dd hh.mm" />
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            </div>
            <!--<input class="form-control" type="datetime" th:field="*{startDate}" />-->
        </div>
        <div class="col-md-6">
            <h4>End Date</h4>
            <div class='input-group date' id='endDate'>
                <input type='text' class="form-control" th:field="*{endDate}" placeholder="yyyy-mm-dd hh.mm" />
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            </div>
            <!--<input class="form-control" type="datetime" th:field="*{endDate}"/>-->
        </div>
        <h4>Title</h4>
        <input class="form-control" type="text" th:field="*{title}"/>
        <h4>Description</h4>
        <input class="form-control" type="text" th:field="*{description}"/>
        <h4>Type</h4>
        <select class="form-control" id="type" th:field="*{type}">
            <option th:value="OFFICE">OFFICE</option>
            <option th:value="MEETING">MEETING</option>
            <option th:value="COMPANY">COMPANY</option>
        </select>
        <div class="col-md-6">
            <h4>Piority</h4>
            <select class="form-control" id="piority" th:field="*{priority}">
                <option th:value="NORMAL">Normal</option>
                <option th:value="IMPORTANT">Important</option>
            </select>
        </div>
        <div class="col-md-6">
            <h4>Company:</h4>
            <select class="form-control" th:field="*{company}">
                <option th:each="i : ${companyAll}"
                        th:value="${i.id}" th:text="${i.name}"></option>
            </select>
        </div>

        <input type="hidden" th:field="*{active}" value="true">
        <!--<input type="hidden" th:field="*{user}" th:value="${user.id}">-->
        <input type="hidden" th:value="${user.id}" name="user" />
        <button class="form-control" type="submit">Kész</button>
    </form>
</div>
</body>
</html>